<div class="footer">
    <div class="contact-us">
        <h2>Let's get started on something great</h2>
        <p>Join over 4.000+ startups already growing with Untitled.</p>
        <div class="buttons">
            <button>Chat to us</button>
            <button>Get started</button>
        </div>
    </div>
    <div class="about-us">
        <ul>
            <li class="li-title">Product</li>
            <li>Overview</li>
            <li>Features</li>
            <li>Solutions</li>
            <li>Tutorials</li>
            <li>Pricing</li>
            <li>Releases</li>
        </ul>
        <ul>
            <li class="li-title">Company</li>
            <li>About us</li>
            <li>Careers</li>
            <li>Press</li>
            <li>News</li>
            <li>Media kit</li>
            <li>Contact</li>
        </ul>
        <ul>
            <li class="li-title">Resources</li>
            <li>Blog</li>
            <li>Newsletter</li>
            <li>Events</li>
            <li>Help centre</li>
            <li>Tutorials</li>
            <li>Support</li>
        </ul>
        <ul>
            <li class="li-title">Use cases</li>
            <li>Startups</li>
            <li>Enterprise</li>
            <li>Government</li>
            <li>SaaS Center</li>
            <li>Marketplaces</li>
            <li>Ecommerce</li>
        </ul>
        <ul>
            <li class="li-title">Social</li>
            <li>Twitter</li>
            <li>Linkedin</li>
            <li>Facebook</li>
            <li>Github</li>
            <li>AngelList</li>
            <li>Dribbble</li>
        </ul>
        <ul>
            <li class="li-title">Legal</li>
            <li>Terms</li>
            <li>Privacy</li>
            <li>Cookies</li>
            <li>Licenses</li>
            <li>Settings</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="copyright">
        <div class="title">
            <i class="fa-solid fa-cube"></i>
            <span>theJOURNAL</span>
        </div>
        <div class="all-rights">
            <p>©️2023 Untitled UI. All rights reserved.</p>
        </div>
    </div>
</div>
