<div class="footer">
    <div class="contact-us">
        <h2>Let's get started on something great</h2>
        <p>Join over 4.000+ startups already growing with Untitled.</p>
        <div class="buttons">
            <button>Chat to us</button>
            <button>Get started</button>
        </div>
    </div>
    <div class="about-us">
        <ul>
            <li class="li-title">Product</li>
            <li>Overview</li>
            <li><a href="https://www.untitledui.com/#features" style="color: white;">Features</a></li>
            <li>Solutions</li>
            <li>Tutorials</li>
            <li><a href="https://www.untitledui.com/pricing" style="color: white;">Pricing</a></li>
            <li>Releases</li>
        </ul>
        <ul>
            <li class="li-title">Company</li>
            <li>About us</li>
            <li>Careers</li>
            <li>Press</li>
            <li>News</li>
            <li>Media kit</li>
            <li>Contact</li>
        </ul>
        <ul>
            <li class="li-title">Resources</li>
            <li><a href="https://www.untitledui.com/blog" style="color: white;">Blog</a></li>
            <li>Newsletter</li>
            <li>Events</li>
            <li>Help centre</li>
            <li>Tutorials</li>
            <li>Support</li>
        </ul>
        <ul>
            <li class="li-title">Use cases</li>
            <li>Startups</li>
            <li>Enterprise</li>
            <li>Government</li>
            <li>SaaS Center</li>
            <li>Marketplaces</li>
            <li>Ecommerce</li>
        </ul>
        <ul>
            <li class="li-title">Social</li>
            <li><a href="https://twitter.com/glorylaflare" style="color: white;">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/marcelogjr/" style="color: white;">Linkedin</a></li>
            <li>Facebook</li>
            <li><a href="https://github.com/glorylaflare" style="color: white;">Github</a></li>
            <li>AngelList</li>
            <li><a href="https://dribbble.com/glorylaflare" style="color: white;">Dribbble</a></li>
        </ul>
        <ul>
            <li class="li-title">Legal</li>
            <li><a href="https://www.untitledui.com/legal/terms" style="color: white;">Terms</a></li>
            <li><a href="https://www.untitledui.com/legal/privacy" style="color: white;">Privacy</a></li>
            <li><a href="https://www.untitledui.com/legal/cookies" style="color: white;">Cookies</a></li>
            <li><a href="https://www.untitledui.com/legal/license" style="color: white;">Licenses</a></li>
            <li>Settings</li>
            <li style="opacity: 0;">Contact</li>
        </ul>
    </div>
    <div class="copyright">
        <div class="title">
            <i class="fa-solid fa-cube"></i>
            <span>theJOURNAL</span>
        </div>
        <div class="all-rights">
            <p>©️2023 Untitled UI. All rights reserved.</p>
        </div>
    </div>
</div>
