.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.logo-blog img {
    margin: 0 25px;
    width: 250px;
    height: 250px;
}

.title-blog {
    font-size: 24px;
}

.title-blog h1 {
    margin-bottom: 10px;
}

.title-blog p {
    font-size: 18px;
}