<div class="stories">
    <!-- Limite do card -->
    <div class="small-card">
        <img class="cover" src="{{ cover }}">
        
        <div class="title">
            <h2>{{ title }}</h2>
            <i class="fa-solid 
            fa-arrow-up-right-from-square"></i>
        </div>
        <div class="headline">
            <p>{{ description }}</p>
        </div>
        <div class="author">
            <img src="{{ authorPhoto }}">
            <div class="stories-info">
                <p class="author-name">{{ authorName }}</p>
                <span>{{ date }}</span>
            </div>
        </div>
    </div>
</div>
