.stories {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-right: 20px;
    gap: 20px;
}

.pages {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.footer {
    margin-top: 50px;
}