<div class="menu-bar">
    <div class="blog-title">
        The Journal
    </div>
    <div class="options">
        <div class="menu-options">
            <ul>
                <li>Home</li>
                <li>
                    <span>Products</span>
                    <i class="fa-solid fa-arrow-down"></i>
                </li>
                <li>
                    <span>Resourcers</span>
                    <i class="fa-solid fa-arrow-down"></i>
                </li>
                <li>Pricing</li>
            </ul>
        </div>
        <div class="user-acess">
            <button class="login">Log In</button>
            <button class="singup">Sing Up</button>
        </div>
    </div>
</div>
