<div class="menu-bar">
    <div class="blog-title">
        <i class="fa-solid fa-cube"></i>
        <span>theJOURNAL</span>
    </div>
    <div class="options">
        <div class="menu-options">
            <ul>
                <li><a [routerLink]="['']">Home</a></li>
                <li>
                    <span>Products</span>
                    <i class="fa-solid fa-arrow-down"></i>
                </li>
                <li>
                    <span>Resourcers</span>
                    <i class="fa-solid fa-arrow-down"></i>
                </li>
                <li><a href="https://www.untitledui.com/pricing">Pricing</a></li>
            </ul>
        </div>
        <div class="user-acess">
            <button class="login">Log In</button>
            <button class="singup">Sing Up</button>
        </div>
    </div>
</div>
